/* Var */
:root {
    --index: calc(1vh + 1vw);
    /* Color */
    --blue: #006BFF;
    --blue-20: rgba(0,107,255,0.2);
    --gray: #1E1E1E;
    --gray-20: rgba(0,0,12,0.2);
    --gray-gradient-1: linear-gradient(83deg, #0A0A0A 0%, #1A1A1A 48.33%, #0D0D0D 100%);
    --gray-gradient-2: linear-gradient(83deg, #0D0D0D 0%, #1F1F1F 36.35%, #0D0D0D 68.75%, #1A1A1A 100%);
    --gray-stoke: #353535;
    --gray-text: #808080;
    --green: #00AB1C;
    --green-20: rgba(130,100,67,0.2);
    --red: #B20000;
    --yellow: #FF9500;
}
.white {color: white;}
.gray {color: var(--gray-text);}
.yellow {color: var(--yellow);}

.border-right-gray {
    border-right: 0.5px var(--gray-stoke) solid;
}




/* Text */
html {
    color: white;
    font-size: calc(var(--index) * 1.12);
    font-weight: 500; /* Medium */
}

h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: 600; /* SemiBold */
}

h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700; /* Bold */
}

h4 {
    color: white;
    font-size: 1.1rem;
    font-weight: 700; /* Bold */
}

p {
    color: white;
    font-size: 0.8rem;
    font-weight: 500; /* Medium */
}

.link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600; /* SemiBold */
    transition-duration: 175ms;
}
.link:hover {
    color: white;
}

.link-mini {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600; /* SemiBold */
    transition-duration: 175ms;
}
.link-mini:hover {
    color: white;
}

.button {
    color: white;
    border: none;
    outline: none;
    border-radius: calc(var(--index) * 0.43);
    padding: calc(var(--index) * 0.43) calc(var(--index) * 0.65);
}

.but-blue {
    background-color: var(--blue);
    box-shadow: calc(var(--index) * 0.65) calc(var(--index) * 0.65) calc(var(--index) * 1.3) var(--blue-20);
}

.but-green {
    background-color: var(--green);
    box-shadow: calc(var(--index) * 0.65) calc(var(--index) * 0.65) calc(var(--index) * 1.3) var(--green-20);
}

.but-gray {
    background-color: var(--gray);
    box-shadow: calc(var(--index) * 0.65) calc(var(--index) * 0.65) calc(var(--index) * 1.3) var(--gray-20);
}




/* Block */
body {
    background-color: #000;
}

.block {
    display: flex;
    flex-direction: column;
    border: 0.5px var(--gray-stoke) solid;
    padding: calc(var(--index) * 1.087) calc(var(--index) * 2.17);
    border-radius: calc(var(--index) * 0.65);
}

.height-200 {height: calc(var(--index) * 22);}
.height-full {height: 100%;}
.width-fit {width: fit-content;}

.back-1 {background: var(--gray-gradient-1);}
.back-2 {background: var(--gray-gradient-2);}
.back-b-green {background: url('../public/img/back1.svg');}
.back-b-blue {background: url('../public/img/back2.svg');}
.back-fill {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gap-0 {gap: 0;}
.gap-10 {
    gap: calc(var(--index) * 1.088);
}
.gap-5 {
    gap: calc(var(--index) * 0.54)!important;
}

.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-a-center {align-items: center;}
.flex-a-start {align-items: start;}
.flex-j-between {justify-content: space-between;}
.flex-j-center {justify-content: center;}
.flex-wrap {flex-wrap: wrap;}




/* Margin & Padding */
.margin-50 {
    margin-top: calc(var(--index) * 5.43);
}
.margin-10 {
    margin-top: calc(var(--index) * 1.087);
}
.margin-0 {margin: 0;}

.padding-tb-5 {
    padding: calc(var(--index) * 0.54) 0;
}




/* More */
.img {
    width: 100%;
}

.input {
    color: white;
    text-align: center;
    width: 70%;
    padding: calc(var(--index) * 0.43);
    background: none;
    border: 0.5px var(--gray-stoke) solid;
    outline: none;
    border-radius: calc(var(--index) * 0.65);
}